<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeadmin.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeeadmin.entity.SysRole">
        <id column="uuid" property="uuid" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="role_type" property="roleType" />
        <result column="role_status" property="roleStatus" />
        <result column="role_sort" property="roleSort" />
        <result column="sys_flag" property="sysFlag" />
        <result column="remarks" property="remarks" />
        <result column="create_user" property="createUser" />
        <result column="create_date" property="createDate" />
        <result column="update_user" property="updateUser" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uuid, role_code, role_name, role_type, role_status, role_sort, sys_flag, remarks, create_user, create_date, update_user, update_date
    </sql>

</mapper>
